<html>
<nav class="navbar navbar-expand-sm bg- navbar-">
    <a class="navbar-brand" href="#">
        <img id="img" class="animated bounce infinite" alt="Brand" src="../../../assets/images/=abc.png">
      </a>
  <form class="form-inline" action="">
    <div class="input-group">
          <input type="text" class="form-control" placeholder="Rechercher">
          <div class="input-group-append">
            <button  class="btnh" type="button">
              <i  class="fa fa-search"></i>
            </button>
          </div>
    </div>
  </form>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"   routerLink="/accueil/email">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/clienDoeil" data-toggle="collapse">IdaClub en un clin d'oeil</a>
      <li class="nav-item">
        <a class="nav-link"    routerLink="/GestCar"  data-toggle="collapse">Gestion des carriéres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login" data-toggle="collapse">Déconnexion</a>
      </li>
  </ul>
  </nav>
<br>
<br>
<div class="row">
    <div class="col-md-3">
        <!--Card-->
        <mdb-card cascade="true" narrower="true">
        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../../assets/images/admin2.jpg" class="img-fluid">
                <a> <div class="mask"></div> </a>   
         </div>
        <!--/Card image-->
        <!--Card content-->
        <mdb-card-body class="text-center">
        <!--Title-->
        <h5 class="indigo-text"><strong>Administrateur </strong></h5>
            <div >
            <button type="button"   routerLink="/login"  mdbBtn outline="true" color="primary" rounded="true" size="sm" mdbWavesEffect>
            Déconnection
            </button>
            </div>
        </mdb-card-body>
        <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->

    </div>
    <div class="col-md-9">
        <!--Projects section v.2-->
        <section class="section text-center pb-3">
            <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="d-flex mb-5">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
            <img src="../../../assets/images/session.jpg" class="img-fluid" alt="">
            <a href="#"></a>                  
            <div class="mask"></div>             
            </div>
            <!--Card content-->
            <mdb-card-body>
            <!--Title-->
            <h4 class="card-title font-bold mb-3"><strong>Gestion des Sessions</strong></h4>
            <!--Text-->
            <p class="card-text">système propose des solutions dites de back-office incluant la gestion logistique, financière, et administrative des activités de formation.
            </p>
             </mdb-card-body>
            <!--Card footer-->
            <div class="card-footer links-light">
            <span class="right"><a routerLink="/sessions" class="waves-effect p-2"> Voir Sessions</a>
    
            </span>
            </div>
            </mdb-card>
            <!--/.Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-xl-5 mb-3">
            <!--Card-->
            <mdb-card cascade="true" narrower="true" class="d-flex mb-5">
             <!--Card image-->
            <div class="view overlay hm-white-slight">
            <img src="../../../assets/images/gusers.jpg" class="img-fluid" alt="">
            <a href="#"><div class="mask"></div></a>
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <h4 class="card-title font-bold mb-3"><strong>Gestion des utilisateurs</strong></h4>
              <!--Text-->
              <p class="card-text">système propose des solutions dites de back-office incluant la gestion logistique, financière, et administrative des activités de formation.
              </p>
            </mdb-card-body>              
            <!--Card footer-->
            <div class="card-footer links-light">
                <span class="right"> 
                    <a routerLink="/users" class="waves-effect p-2">Voir utilisateurs</a>
                </span>
            </div>
            </mdb-card>
            <!--/.Card-->
            </div>
            <!--Grid column-->
            </div>
           <div class="row d-flex justify-content-center">
         <!--Grid column-->
            <div class="col-lg-6 col-xl-5 mb-3">
             <!--Card-->
            <mdb-card cascade="true" narrower="true" class="d-flex mb-5">
             <!--Card image-->
             <div class="view overlay hm-white-slight">
                <img src="../../../assets/images/compte.png"  class="img-fluid" alt="">
                    
                <a href="#"> <div class="mask"></div></a>   
            </div>
             <!--Card content-->
             <mdb-card-body>
                <!--Title-->
                <h4 class="card-title font-bold mb-3"><strong>Gestion des Comptes</strong></h4>
                <!--Text-->
                <p class="card-text">système propose des solutions dites de back-office incluant la gestion logistique, financière, et administrative des activités de formation.
                </p>
            </mdb-card-body>           
             <!--Card footer-->
             <div class="card-footer links-light">
                <span class="right"> 
                    <a href="" class="waves-effect p-2">Voir Comptes</a>
                </span>
            </div>
            </mdb-card>
            <!--/.Card-->
            </div>
            <div class="col-lg-6 col-xl-5 mb-3">
            <mdb-card cascade="true" narrower="true" class="d-flex mb-5">
               <!--Card image-->
               <div class="view overlay hm-white-slight">
                    <img src="../../../assets/images/logo.png"  class="img-fluid" alt="">
                    <a href="#"><div class="mask"></div> </a>
                </div>
            <mdb-card-body>
             <!--Title-->
             <h4 class="card-title font-bold mb-3"><strong>Gestion des Clubs</strong></h4>
             <!--Text-->
             <p class="card-text">système propose des solutions dites de back-office incluant la gestion logistique, financière, et administrative des activités de formation.
             </p>              
            </mdb-card-body>

            <!--Card footer-->
            <div class="card-footer links-light">
                <span class="right"> 
                    <a href="" class="waves-effect p-2">Voir Clubs</a>
                </span>
            </div>
             </mdb-card>
           <!--/.Card-->
             </div>
            </div>
        </section>
        
   
   
    </div>
    </div>
    
    <!--Grid row-->

<!--/Projects section v.2-->
</html>