<html>
    <nav class="navbar navbar-expand-sm bg- navbar-">
        <a class="navbar-brand" href="#">
            <img id="img" class="animated bounce infinite" alt="Brand" src="../../../assets/images/=abc.png">
          </a>
      <form class="form-inline" action="">
        <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher">
              <div class="input-group-append">
                <button  class="btnh" type="button">
                  <i  class="fa fa-search"></i>
                </button>
              </div>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link"   routerLink="/accueil/email">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/clienDoeil" data-toggle="collapse">IdaClub en un clin d'oeil</a>
          <li class="nav-item">
            <a class="nav-link"    routerLink="/GestCar"  data-toggle="collapse">Gestion des carriéres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login" data-toggle="collapse">Déconnexion</a>
          </li>
      </ul>
      </nav>

 


<body>
 
   
<div class="container">

      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="ii" class="d-block w-100" src="../../assets/images/img.jpg" alt="First slide">
              <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">IDAC EN UN CLIN D’OEIL</h3>
              <p>First text</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="ii" class="d-block w-100" src="../../assets/images/img1.jpg" alt="Second slide">
              <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">IDAF EN UN CLIN D’OEIL</h3>
              <p>Secondary text</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img class="ii" class="d-block w-100" src="../../assets/images/img2.jpg" alt="Third slide">
              <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">IDAF EN UN CLIN D’OEIL</h3>
              <p>Third text</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
              <div class="view w-100">
                <img class="ii" class="d-block w-100" src="../../assets/images/img3.jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">IDAF EN UN CLIN D’OEIL</h3>
                <p>Third text</p>
              </div>
            </mdb-carousel-item>
        </mdb-carousel>

      </div>
    <div id="bd">
        <p><strong id="idac">IDAC</strong> Est un <SPAN style="font-weight : 800;">Club</SPAN>  de formation fondé en 2018, spécialisé dans le domaine du <SPAN style="font-weight : 800;">consulting</SPAN>  pour les entreprises et des
             <SPAN style="font-weight : 800;">formations continues</SPAN> qui permet aux jeunes cadres, aux nouveaux diplômés et également aux demandeurs d’emploi de perfectionner et acquérir des compétences directement applicables en entreprise.
            Notre    <SPAN style="font-weight : 800;">centre</SPAN> vous propose diverses formations adaptées aux <SPAN style="font-weight : 800;">besoins des particuliers</SPAN>  et des entreprises : Multimédia, Internet, Web, Management, Langues, Ressources Humaines,<SPAN style="font-weight : 800;"> Développement personnel…</SPAN>  
        <a target="_blank" href="https://idaformation.com/index.php/a-propos/">"Try it Yourself"</a> link.</p>
      </div>



     
      
  
    
   
</body>


</html>











