<div class="modal-content text-center">

  <!--Header-->
  <div class="modal-header">
<h2 style="color: red;"> Erreur de confirmation de code</h2>
  </div>

  <!--Body-->
  <div class="modal-body mb-1">

    <h2 class="mt-1 mb-2 text-center">IDACLUB</h2>

    <div class="md-form ml-0 mr-0">
      <h5>Votre code de confirmation est incorrect!! vous devez vous réinscrire!!</h5>
    </div>

  </div>
<!--/.footer-->
  <div class="modal-footer justify-content-center">
    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>fermer</button>

</div>
</div>