<html>
    <nav class="navbar navbar-expand-sm bg- navbar-">
        <a class="navbar-brand" href="#">
            <img id="logo" class="animated bounce infinite" alt="Brand" src="../../../assets/images/=abc.png">
          </a>
      <form class="form-inline" action="">
        <div class="input-group">
              <input type="text" class="form-control" placeholder="Rechercher">
              <div class="input-group-append">
                <button  class="btnh" type="button">
                  <i  class="fa fa-search"></i>
                </button>
              </div>
        </div>
      </form>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link"   routerLink="/accueil/email">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/clienDoeil" data-toggle="collapse">IdaClub en un clin d'oeil</a>
          <li class="nav-item">
            <a class="nav-link"    routerLink="/GestCar"  data-toggle="collapse">Gestion des carriéres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login" data-toggle="collapse">Déconnexion</a>
          </li>
      </ul>
      </nav>
<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
  

<div class="container">
    <h1>Notre Galerie!</h1>

<div class="row">
  <!-- Grid column -->
  <div class="col-lg-4 col-md-3 mb-3">

    <img src="../../../assets/images/phototéque/img1.jpg" class="wow bounce" data-wow-delay="0.6s" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="../../../assets/images/phototéque/img.jpg"  class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="../../../assets/images/phototéque/img2.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-3 mb-3">

    <img src="../../../assets/images/phototéque/72699916_440010103385917_9150445115666333696_n.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="../../../assets/images/phototéque/73321237_440010076719253_6534220084284489728_n.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="../../../assets/images/phototéque/73460503_440010180052576_6191595145624813568_n.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
</div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
new WOW().init();
</script>
<!-- Grid row -->
</html>
