<div class="cont">
<div class="col-sm-3 well" id="body">
    <div class="box zoom">
                <img class="img-fluid img-thumbnail" class="test" [src]="image" height="58" width="65"  class="imageflottante" alt="Image flottante" >

   <table>

      <td> <h4 >  {{ profil }} </h4></td>
      <td><div id="cercle"></div>
      </td>
   </table>
           
     
      
    </div>
    
 
          <div class="box1">
                  <p class="side3"><i class="far fa-address-card"></i><a href="#">Actualités</a></p>
                  <p class="side3"><i class="far fa-calendar-alt"></i><a href="#">Evénements</a></p>
                  <p class="side3"><i class="fas fa-users"></i><a href="#">Espace-com</a></p>
                  <p class="side3"><i class="fas fa-images"></i><a routerLink="/phototeque">photothéques</a></p>
          </div>
    
    <div class="box2">
       
                    
            <p>    <i class="fas fa-map-pin fa-2x"></i> <span style="font-size: 22px; font-weight: bold;color: #084B8A;"> Localisations</span> </p>
         
    <br><br>

    <p class="side3"><i class="fas fa-map-marker-alt"></i><a href="#">Idac Sfax</a></p>
    <p class="side3"><i class="fas fa-map-marker-alt"></i><a href="#">Idac Sousse</a></p>
    <p class="side3"><i class="fas fa-map-marker-alt"></i><a href="#">Idac Tunis</a></p>
  
    </div>
  </div>
</div>


                